In [ ]:
'''
Code : Inverted Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
4444
333
22
1

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Constraints :
0 <= N <= 50

Sample Input 1:
5
Sample Output 1:
55555 
4444
333
22
1

Sample Input 2:
6
Sample Output 2:
666666
55555 
4444
333
22
1
'''

n = int(input())
i = n
while(i>=1):
    j = 1
    while(j <= i):
        print(i, end='')
        j += 1
    print()
    i -= 1

6
666666
55555
4444
333
22
1

In [ ]:
'''
Code : Mirror Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
   1 
  12
 123
1234

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Constraints
0 <= N <= 50

Sample Input 1:
3
Sample Output 1:
  1 
 12
123

Sample Input 2:
4
Sample Output 2:
   1 
  12
 123
1234
'''

n = int(input())
i = 1
while(i<=n):
    spaces = 1
    while(spaces <= n-i):
        print(' ', end='')
        spaces += 1
    stars = 1
    while(stars <= i):
        print(stars, end='')
        stars += 1
    print()
    i += 1

4
   1
  12
 123
1234

In [ ]:
'''
Code : Star Pattern

Print the following pattern
Pattern for N = 4
    *
   *** 
  *****
 *******

Input Format :
N (Total no. of rows)
Output Format :
Pattern in N lines

Constraints :
0 <= N <= 50

Sample Input 1 :
3
Sample Output 1 :
   *
  *** 
 *****

Sample Input 2 :
4
Sample Output 2 :
    *
   *** 
  *****
 *******
'''

n = int(input())
i = 1
while(i<=n):
    
    spaces = 1
    while(spaces <= n-i):
        print(' ', end='')
        spaces += 1
        
    inc_stars = 1
    while(inc_stars<=i):
        print('*', end='')
        inc_stars += 1
        
    dec_stars = i-1
    while(dec_stars>=1):
        print('*', end='')
        dec_stars -= 1
        
    print()
    i += 1

4
   *
  ***
 *****
*******

In [ ]:
'''
Code : Triangle of Numbers

Print the following pattern for the given number of rows.
Pattern for N = 4
           1
         232
       34543
     4567654

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Constraints :
0 <= N <= 50

Sample Input 1:
5
Sample Output 1:
           1
         232
       34543
     4567654
   567898765

Sample Input 2:
4
Sample Output 2:
           1
         232
       34543
     4567654
'''

n = int(input())
i = 1
while(i<=n):
    
    spaces = 1
    while(spaces <= n-i):
        print(' ', end='')
        spaces += 1
        
    col = 1
    inc_num = i
    while(col<=i):
        print(inc_num, end='')
        inc_num += 1
        col += 1
        
    col = 1
    dec_num = 2*(i-1)
    while(col<i):
        print(dec_num, end='')
        dec_num -= 1
        col += 1
    
    print()
    i += 1

4
   1
  232
 34543
4567654

In [ ]:
'''
Code : Diamond of stars

Print the following pattern for the given number of rows.
Note: N is always odd.

Pattern for N = 5
  *
 ***
*****
 ***
  *
  
Input format :
N (Total no. of rows and can only be odd)
Output format :
Pattern in N lines

Constraints :
1 <= N <= 49

Sample Input 1:
5
Sample Output 1:
  *
 ***
*****
 ***
  *

Sample Input 2:
3
Sample Output 2:
  *
 ***
  *
'''

n = int(input())
i = 0
temp = (n//2) + 1
while(i < temp):
    
    spaces = 1
    while(spaces <= (n//2)-i):
        print(' ', end='')
        spaces += 1
    
    up_stars = 1
    while(up_stars <= 2*i+1):
        print('*', end='')
        up_stars += 1
    
    print()
    i += 1
    
i = (n-2)//2
while(i>=0):
    
    spaces = 1
    while(spaces <= (n//2)-i):
        print(' ', end='')
        spaces += 1
    
    down_stars = 1
    while(down_stars <= 2*i+1):
        print('*', end='')
        down_stars += 1
        
    print()
    i -= 1

5
  *
 ***
*****
 ***
  *

**ASSIGNMENT PROBLEMS**

In [ ]:
'''
Number Pattern

Print the following pattern for n number of rows.
For eg. N = 5

1        1
12      21
123    321
1234  4321
1234554321

Sample Input 1 :
4
Sample Output 1 :
1      1
12    21
123  321
12344321
'''

n = int(input())
rows = 1
while(rows<=n):
    
    col = 1
    while(col<=rows):
        print(col, end='')
        col += 1
        
    spaces = 1
    while(spaces <= n-rows):
        print(' ', end='')
        spaces += 1
        
    spaces = 1
    while(spaces <= n-rows):
        print(' ', end='')
        spaces += 1
      
    col = rows
    while(col >= 1):
        print(col, end='')
        col -= 1
    
    print()
    rows += 1

5
1        1
12      21
123    321
1234  4321
1234554321

In [ ]:
'''
Zeros and Stars Pattern

Print the following pattern

Pattern for N = 4
*000*000*
0*00*00*0
00*0*0*00
000***000

Input Format :
N (Total no. of rows)
Output Format :
Pattern in N lines

Sample Input 1 :
3
Sample Output 1 :
*00*00*
0*0*0*0
00***00

Sample Input 2 :
5
Sample Output 2 :
*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000
'''

n = int(input())
rows = 0
while(rows <= n-1):
    
    zero = 1
    while(zero <= rows):
        print('0', end='')
        zero += 1
    
    print('*', end='')
    
    zero = 1
    while(zero <= n-rows-1):
        print('0', end='')
        zero += 1
   
    print('*', end='')

    
    zero = 1
    while(zero <= n-rows-1):
        print('0', end='')
        zero += 1
        
    print('*', end='')
    
    zero = 1
    while(zero <= rows):
        print('0', end='')
        zero += 1
    
    print()
    rows += 1

5
*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

In [ ]:
'''
Pyramid Number Pattern

Print the following pattern for the given number of rows.

Pattern for N = 4
   1
  212
 32123
4321234

Input format : N (Total no. of rows)

Output format : Pattern in N lines

Sample Input :
5
Sample Output :
        1
      212
    32123
  4321234
543212345
'''

n = int(input())
row = 1
while(row<=n):
    
    col = 1
    while(col <= n-row):
        print(' ', end='')
        col += 1
    
    col = row
    while(col >= 1):
        print(col, end='')
        col -= 1
        
    col = 1
    temp = 2
    while(col <= row-1):
        print(temp, end='')
        col += 1
        temp += 1
         
    print()
    row += 1

5
    1
   212
  32123
 4321234
543212345

In [ ]:
'''
Arrow pattern

Print the following pattern for the given number of rows.

Assume N is always odd.

Note : There is space after every star.
Pattern for N = 7
*
 * *
   * * *
     * * * *
   * * *
 * *
*

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines

Sample Input :
11
Sample Output :
*
 * *
   * * *
     * * * *
       * * * * *
         * * * * * *
       * * * * *
     * * * *
   * * *
 * *
*
'''

n = int(input())
row = 1
while(row <= (n+1)//2):
    
    spaces = 1
    while(spaces < row):
        print(' ', end='')
        spaces += 1
        
    stars = 1
    while(stars <= row):
        print('* ', end='')
        stars += 1
        
    print()
    row += 1

row = n//2
while(row>=1):
    
    spaces = 1
    while(spaces <= row-1):
        print(' ', end='')
        spaces += 1
        
    stars = 1
    while(stars <= row):
        print('* ', end='')
        stars += 1
        
    print()
    row -= 1

11
*
 * *
  * * *
   * * * *
    * * * * *
     * * * * * *
    * * * * *
   * * * *
  * * *
 * *
*